body {
  background: light-dark(#fff, #000);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
}

body::before {
  --size: 45px;
  --line: color-mix(in hsl, canvasText, transparent 70%);
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 60%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

cursor {
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  color: #efeeec;
  background-color: #ff4c24;
  border-radius: 0.25em;
  padding: 0.3em 0.75em 0.4em;
  font-size: 1em;
  transition: opacity 0.2s;
  position: fixed;
  inset: 0% auto auto 0%;
}

.cursor-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.button-row {
  grid-column-gap: 0.75em;
  grid-row-gap: 0.75em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
}

.button {
  color: #131313;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  position: relative;
}

.button-text {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.button-bg {
  z-index: 0;
  background-color: #efeeec;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
  position: absolute;
  inset: 0%;
}

body:has([data-cursor]:hover) .cursor {
  opacity: 1;
}

.button:hover .button-bg {
  transform: scale(0.95);
}
